## **Data Types and Structures **

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data to perform operations efficiently. They're important because they allow optimal access, modification, and management of data. Examples include lists, dictionaries, sets, and tuples in Python.

2. Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed after creation
Immutable: Cannot be changed

3. What are the main differences between lists and tuples in Python?

Lists are mutable, tuples are immutable.

Lists have more built-in functions.

Tuples are faster and safer when storing constant data.

4. Describe how dictionaries store data.

Dictionaries store data in key-value pairs using a hash map structure. Keys must be unique and hashable.

5. Why might you use a set instead of a list in Python?

Sets automatically remove duplicates and offer faster membership testing (in operator).

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters (immutable), while a list is a sequence of items (mutable). You can’t modify a string but can change list elements.

7. How do tuples ensure data integrity in Python?

Their immutability means their values can't be altered, ensuring the data stays constant.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table maps keys to values using a hash function. Python dictionaries are implemented as hash tables.

9. Can lists contain different data types in Python?

Yes, e.g., [1, 'two', 3.0, True]

10. Explain why strings are immutable in Python.

For memory efficiency, security, and hashability. It ensures that once created, string values stay unchanged.

11. What advantages do dictionaries offer over lists for certain tasks?

Fast lookup with keys, clearer associations between elements, and no need to search by index.

12. Describe a scenario where using a tuple would be preferable over a list.

When storing constant config values like GPS coordinates: (37.7749, -122.4194)

13. How do sets handle duplicate values in Python?

Sets automatically eliminate duplicates.

14. How does the in keyword work differently for lists and dictionaries?

In lists: Checks for existence of element.

In dicts: Checks for existence of key.

15. Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable. Any attempt to modify will raise an error.

16.What is a nested dictionary, and give an example of its use case.

A dictionary inside another dictionary.
Example:

students = {'John': {'age': 20, 'grade': 'A'}}

17.Describe the time complexity of accessing elements in a dictionary.

Average case: O(1) (constant time).

18. In what situations are lists preferred over dictionaries?

When order matters.

When using indexed data without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Before Python 3.7, dictionaries didn’t maintain insertion order. This meant unpredictable iteration order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List: Access via index (list[2]).

Dictionary: Access via key (dict['name']).

## **Practical Questions**

In [1]:
# Write a code to create a string with your name and print it
name = "Tushar singh"
print(name)

Tushar singh

In [2]:
#Write a code to find the length of the string "Hello World"
print(len("hello world"))

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"
a = "python programming"
print(a[:3])

pyt

In [10]:
# Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [11]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"P
print("i like apple".replace("apple", "orange"))

i like orange

In [20]:
#P Write a code to create a list with numbers 1 to 5 and print it
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [18]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [21]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [22]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
s = ['a', 'b', 'c', 'd']
print(s[1])

b

In [23]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
n = [10, 20, 30, 40, 50]
n.reverse()
print(n)

[50, 40, 30, 20, 10]

In [25]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)
type(t)

(100, 200, 300)

tuple

In [26]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colour = ('red', 'green', 'blue', 'yellow')
print(colour[-2])

blue

In [28]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
lit2 = (10, 20, 5, 15)
print(min(lit2))

5

In [29]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pet = ('dog', 'cat', 'rabbit')
print(pet.index('cat'))

1

In [31]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange", "kiwi")
print("kiwi" in fruits)

True

In [34]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [35]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [36]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [37]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
c = {1, 2, 3}
d = {3, 4, 5}
print(c.union(d))

{1, 2, 3, 4, 5}

In [38]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
e = {1, 2, 3}
f = {2, 3, 4}
print(e.intersection(f))

{2, 3}

In [39]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name": "Tushar", "age": 25, "city": "New Delhi"}
print(dic)

{'name': 'Tushar', 'age': 25, 'city': 'New Delhi'}

In [40]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic2 = {"name": "John", "age": 25}
dic2["country"] = "USA"
print(dic2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [41]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic3 = {'name': 'Alice', 'age': 30}
print(dic3["name"])

Alice

In [42]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic4.pop("age")
print(dic4)

{'name': 'Bob', 'city': 'New York'}

In [43]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic5)

True

In [44]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [51]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).


import random
random_list =random.sample(range(1,101),5)
random_list.sort()
print(random_list)

[4, 20, 33, 44, 66]

In [52]:
#Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "cherry", "date"]
print(list[3])

date

In [54]:
#Write a code to combine two dictionaries into one and print the result.
d7 = {'a': 1, 'b': 2}
d8 = {'c': 3, 'd': 4}
d7.update(d8)
print(d7)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [64]:
#Write a code to convert a list of strings into a set.
str_lst1 = ["apple", "banana", "cherry"]
str_set = set(str_lst1)

TypeError: 'set' object is not callable